
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<div class="card mb-4">
    <div class="card-body">
        <p class="mb-0" style="font-weight:bold;text-align:center;">QR Code Generator </p>
    </div>
</div>

<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="kod" />
        <input type="submit" value="QR Oluştur" />
    }
    <br />
    @if (ViewBag.qrkodimg != null)
    {
        <img src="@ViewBag.qrkodimg" alt="" style="width:400px; height:400px;" />
    }
</div>

